doctype html
html(lang="ru-ru")
    head
        meta(charset="utf-8")
        title News App
        link(href="index.css" rel="stylesheet")
    body
        h1 Рады вам показать свежие новости!!
        a.news-add_button(href="/add") Добавить новость
        div(class="news-list")
            each item in news.news
              div(class='news')
                h2
                  a(href=`news/${item.id}`) #{item.title}
                p #{item.content}
                if item.image
                    a(href=item.image target="_blank")
                        img(alt='img' src=item.image)
